<?xml version="1.0"?>
<configuration>
	<system.web>
		<httpHandlers>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*" type="FrameworkLessWebApp.Application"/>
		</httpHandlers>
		<compilation debug="true"/></system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<add name="FrameworkLessApp" path="*" verb="*" type="FrameworkLessWebApp.Application" preCondition="integratedMode,runtimeVersionv2.0"/>
		</handlers>
	</system.webServer>
</configuration>
